
@{
    ViewBag.Title = "AddPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Add Policy</h3>
<div id="bg">
    <div class="module">
        <form class="form">
            <input type="text" placeholder="Policy refference number" class="textbox" />
            <input type="text" placeholder="Version" class="textbox" />
            <input type="text" placeholder="Policy name" class="textbox" />
            <input type="text" placeholder="Description" class="textbox" />
            <input type="text" placeholder="Description link" class="textbox" />
            <input type="button" value="Add" class="button" />
            <input style ="float: right" type="button" value="Cancel" class="button" />

        </form>
    </div>
</div>
